body {
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f2f2f2;
    background: linear-gradient(135deg, #74ebd5, #9face6);
    margin-left: 500px;
    margin-bottom: 500px;
}
calculator {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0.1);
}
div {
    font-family: Arial, Helvetica, sans-serif;
    color: aqua;
    background-color: cadetblue;
    height: 300px;
    width: 300px;
    margin-right: 500px;
}
input {
    width: 275px;
    height: 50px;
    background-color: slategrey;
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: right;
    padding: 10px;
}

button {
    font-size: 1.3em;
    padding: 20px;
    cursor: pointer;
    border: none;
    background: #eee;
    border-radius: 5px;
    

}
button.operator {
    background: #f9a825;
    color: white;
}
button.equal {
    background: hotpink;
    color: white;
    grid-column: span 2;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
button.clear {
    background: #f44336;
    color: white;
    grid-column: span 2;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}